<section id='list'>

  <h1>To Do</h1>
  <p id="notice"><%= notice %></p>

  <section id='new-item-form'>
    <%= render 'items/form', :locals => { :item => Item.new } %>
  </section>

  <section class='item-list'>
    <%= render @items %>
   </section>
</section>

