<p id="notice"><%= notice %></p>

<h1>To Do</h1>
<!-- item form  -->

<section>
  <%= render 'form' %>
</section>

<section>
  <%= render @items %>
 </section>
<br>

<%= link_to 'New Item', new_item_path %>
