<section id='list'>

  <h1>To Do</h1>
  <p id="notice"><%= notice %></p>


  <i id='add_item_button' class="material-icons icon">add</i>
  <section id='new-item-form'>
    <%= render 'form' %>
  </section>

  <section class='item-list'>
    <%= render @items %>
   </section>
</section>