<section id='list'>
  <p id="notice"><%= notice %></p>

  <h1>To Do</h1>
  <section>
    <%= render 'form' %>
  </section>

  <section class='item-list'>
    <%= render @items %>
   </section>
</section>