<p id="notice"><%= notice %></p>

<h1>Listing All Items</h1>



<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @items %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
