// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper {
  width: 700px;
  margin: auto;
  margin-top: 10px;
  
}

#list {
  padding: 15px;
  border-radius: 15px;
  background-color: #D4E994; 
}

html, body{
  padding: 0;
  margin: 0;  
  background-color: #B2B2B2;
  font-family: verdana, arial, helvetica, sans-serif;
}

#item_content {
  resize: none;
  width: 500px;
  height: 50px;
}

.float-right {
  float: right;
}

.delete {
  color: #D1D1D1;

  &:hover{
    color: black;
  }
}

footer {
  margin-top: 10px;
  text-align: center;
}